
<div class="cla1">
  <div class="cla2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary child1">
      <div class="container-fluid">
        <img src="./images/logo.png" routerLink="/"class="img">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/package">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contactus">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">admin</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
  
</div>
